body {
    font-family: 'Dosis', serif;
    background-color: black;
    color: white;
    text-align: center;
}

button {
    border-radius: 5px;
}

table {
    text-align: center;
}

#login-details, #my-details-div, #change-password-div, #delete-account-div, #register-user-div {
    margin-top: 200px;
}

#saved-songs-table {
    margin: auto;
    margin-top: 80px;
}

#alert-textbox{
    margin: auto;
    margin-top: 30px;
    width: 50%;
    color: white;
    height: 20px;
}